.nav-menu a:hover{
    color: rgba(150, 138, 86, 0.671);
}
.nav-menu li:last-child{
    background-color: rgb(56, 17, 17);
    border-radius: 20px;
    border: 2px solid rgb(56, 17, 17);  
}
body{
    background-color: rgba(26, 23, 23, 0.863);
    }
.nav-menu a{
    color: whitesmoke;
}